<p><%= @restaurant.name %></p>
<p><%= @restaurant.description %></p>
<%= image_tag @restaurant.image.url(:medium) %>

<h3>Reviews</h3>
<% if @restaurant.reviews.any? %>
  <ul>
    <% @restaurant.reviews.each do |review| %>
      <li>
        <p>
          <%= review.thoughts %>
        </p>
        Average rating: <%= star_rating(@restaurant.average_rating) %>
        <span class='endorsements_count'><%= review.endorsements.count %></span> endorsements
        <%= link_to "Endorse", review_endorsements_path(review), class: 'endorsements_link' %>
      </li>
      <li>
        <%= delete_review(review) %>
      </li>
      <% end %>
    </ul>

  <% else %>
  <p>No reviews yet!</p>
<% end %>

<p><%= add_review(@restaurant) %></p>



<p><%= edit_link(@restaurant) %></p>
<p><%= delete_link(@restaurant) %></p>
